# Import Libraries

In [40]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# Import Combined Pickle

In [41]:
# Import Orders and Products Pickle Dataframe

df_ords_prods_comb = pd.read_pickle(r'D:\Career Foundry\2) Data Immersion\4) Python Fundamentals for Data Analysts\DI 4.2 - Jupyter Folder\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')

In [44]:
# Checking Dimensions

df_ords_prods_comb.shape

(32434489, 12)

In [20]:
# Dimensions are the same as when the file was exported.

In [46]:
df_ords_prods_comb

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,2977660,206209,prior,13,1,12,7.0,14197,5,1,both
32434485,3421081,2977660,206209,prior,13,1,12,7.0,38730,6,0,both
32434486,3421081,2977660,206209,prior,13,1,12,7.0,31477,7,0,both
32434487,3421081,2977660,206209,prior,13,1,12,7.0,6567,8,0,both
32434488,3421081,2977660,206209,prior,13,1,12,7.0,22920,9,0,both

# Importing Products & Path

In [16]:
# Importing Cleaned Products Dataframe

df_prods_clean = pd.read_csv(r'D:\Career Foundry\2) Data Immersion\4) Python Fundamentals for Data Analysts\DI 4.2 - Jupyter Folder\Instacart Basket Analysis\02 Data\Prepared Data\prods_clean.csv', index_col = False)

In [18]:
df_prods_clean

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...,...
49667,49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49690,49686,Artisan Baguette,112,3,7.8
49670,49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [20]:
# Creating Path

path=r'D:\Career Foundry\2) Data Immersion\4) Python Fundamentals for Data Analysts\DI 4.2 - Jupyter Folder\Instacart Basket Analysis'

# Combining Merged Pickle dataframe and Clean Products dataframe

In [48]:
# Shape check of Merged dataframe

df_ords_prods_comb.shape

(32434489, 12)

In [24]:
# Shape check of Products dataframe

df_prods_clean.shape

(49672, 6)

In [50]:
# Combining both dataframes using order_id

df_ords_prods_merged = df_prods_clean.merge(df_ords_prods_comb, on = ['product_id'], indicator = 'merge_source')

In [51]:
# Checking file integrity

df_ords_prods_merged

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,merge_source
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,28,6,11,3.0,5,0,both,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,30,6,17,20.0,1,1,both,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,2,0,21,6.0,20,0,both,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,1,3,13,NaN,10,0,both,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,3,4,17,9.0,11,1,both,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3321928,1788356,200215,prior,2,0,9,5.0,27,0,both,both
32404855,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3324686,3401313,200377,prior,1,4,11,NaN,5,0,both,both
32404856,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3332310,809510,200873,prior,5,3,8,15.0,12,0,both,both
32404857,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3332314,2359893,200873,prior,9,3,15,5.0,11,1,both,both
32404858,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3416620,2385091,205926,prior,11,1,15,6.0,35,0,both,both

In [54]:
# Merge Flag

df_ords_prods_merged['merge_source'].value_counts()

merge_source
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# Exporting DF as Pickle

In [56]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged.pkl'))