# DI 4.8 - Practice

## Import Libraries

In [3]:
# Importing Libraries

import pandas as pd
import numpy as np
import os

In [5]:
# Import Merged DF from Prepared Data from Exercise 4.7

ords_prods_merge = pd.read_pickle(r'D:\Career Foundry\2) Data Immersion\4) Python Fundamentals for Data Analysts\DI 4.2 - Jupyter Folder\Instacart Basket Analysis\02 Data\Prepared Data\ords_prods_merged_4.7.pkl')

In [7]:
# Creating Path

path=r'D:\Career Foundry\2) Data Immersion\4) Python Fundamentals for Data Analysts\DI 4.2 - Jupyter Folder\Instacart Basket Analysis'

## Subset

In [10]:
# Subset of 1,000,000 for DF

df = ords_prods_merge[:1000000]

In [16]:
# Checking Column Names - There is a column for Busiest Day and Busiest Days(plural) with different if-statements attached.

df.head(10)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,merge_source,price_range_loc,Busiest day,Busiest days,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,11,3.0,5,0,both,both,Mid-range product,Regularly busy,Regularly busy,Most orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,17,20.0,1,1,both,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,21,6.0,20,0,both,both,Mid-range product,Busiest days,Busiest days,Average orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,13,NaN,10,0,both,both,Mid-range product,Regularly busy,Least busy,Most orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,17,9.0,11,1,both,both,Mid-range product,Least busy,Least busy,Average orders
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,1701441,777,prior,...,7,26.0,7,0,both,both,Mid-range product,Regularly busy,Busiest days,Average orders
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,1871483,825,prior,...,14,30.0,2,0,both,both,Mid-range product,Regularly busy,Regularly busy,Most orders
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,1290456,910,prior,...,10,30.0,1,0,both,both,Mid-range product,Regularly busy,Least busy,Most orders
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,369558,1052,prior,...,20,19.0,1,0,both,both,Mid-range product,Regularly busy,Busiest days,Average orders
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,589712,1052,prior,...,12,15.0,2,1,both,both,Mid-range product,Regularly busy,Busiest days,Most orders

## Single Aggregation

In [33]:
# STEP 1 (SPLIT DATA INTO GROUPS): The groupby() function will group a given dataframe by the a given column. Example product_name. 

df.groupby('product_name')

In [35]:
# STEP 2 (APPLY AGGREGATE) Single Aggregate - obtain descriptive stat for order_number group by department_id

df.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [27]:
# Single Aggregate - obtain mean stat for order_number group by department_id

df.groupby('department_id')['order_number'].mean()

department_id
1     15.577493
2     17.320781
3     16.084944
4     17.530458
5     14.763075
6     16.658449
7     17.031590
8     15.076662
9     15.447580
10    18.681852
11    15.447411
12    14.327957
13    16.548642
14    16.960241
15    16.121948
16    17.803851
17    15.593633
18    19.674252
19    16.899756
20    16.255442
21    25.535479
Name: order_number, dtype: float64

## Multiple Aggregation

In [31]:
# Multiple Aggregate - obtain mean/min/max with group by department_id and agg order_number

df.groupby('department_id').agg({'order_number':['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.577493   1  99
2                17.320781   1  96
3                16.084944   1  99
4                17.530458   1  99
5                14.763075   1  99
6                16.658449   1  99
7                17.031590   1  99
8                15.076662   1  98
9                15.447580   1  99
10               18.681852   1  99
11               15.447411   1  99
12               14.327957   1  99
13               16.548642   1  99
14               16.960241   1  99
15               16.121948   1  99
16               17.803851   1  99
17               15.593633   1  99
18               19.674252   1  99
19               16.899756   1  99
20               16.255442   1  99
21               25.535479   1  98

## Aggregating Data with Transform()

In [50]:
# Import Merged DF from Prepared Data from Exercise 4.7 - This step in the reading wants ords_prods_merge DF

ords_prods_merge = pd.read_pickle(r'D:\Career Foundry\2) Data Immersion\4) Python Fundamentals for Data Analysts\DI 4.2 - Jupyter Folder\Instacart Basket Analysis\02 Data\Prepared Data\ords_prods_merged_4.7.pkl')

In [54]:
# Checking the DF

ords_prods_merge

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,merge_source,price_range_loc,Busiest day,Busiest days,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,11,3.0,5,0,both,both,Mid-range product,Regularly busy,Regularly busy,Most orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,17,20.0,1,1,both,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,21,6.0,20,0,both,both,Mid-range product,Busiest days,Busiest days,Average orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,13,NaN,10,0,both,both,Mid-range product,Regularly busy,Least busy,Most orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,17,9.0,11,1,both,both,Mid-range product,Least busy,Least busy,Average orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3321928,1788356,200215,prior,...,9,5.0,27,0,both,both,NaN,Busiest days,Busiest days,Most orders
32404855,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3324686,3401313,200377,prior,...,11,NaN,5,0,both,both,NaN,Least busy,Least busy,Most orders
32404856,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3332310,809510,200873,prior,...,8,15.0,12,0,both,both,NaN,Regularly busy,Least busy,Average orders
32404857,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3332314,2359893,200873,prior,...,15,5.0,11,1,both,both,NaN,Regularly busy,Least busy,Most orders
32404858,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3416620,2385091,205926,prior,...,15,6.0,35,0,both,both,NaN,Regularly busy,Busiest days,Most orders

In [97]:
# STEP 3: Creating a Loyalty Flag

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\jmesi\AppData\Local\Temp\ipykernel_2680\3831546182.py:3: FutureWarning: The provided callable <function max at 0x000001F4DA4AC4A0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [66]:
ords_prods_merge.head(15)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,days_since_prior_order,add_to_cart_order,reordered,_merge,merge_source,price_range_loc,Busiest day,Busiest days,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,3.0,5,0,both,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,20.0,1,1,both,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,6.0,20,0,both,both,Mid-range product,Busiest days,Busiest days,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,NaN,10,0,both,both,Mid-range product,Regularly busy,Least busy,Most orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,9.0,11,1,both,both,Mid-range product,Least busy,Least busy,Average orders,3
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,1701441,777,prior,...,26.0,7,0,both,both,Mid-range product,Regularly busy,Busiest days,Average orders,26
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,1871483,825,prior,...,30.0,2,0,both,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,1290456,910,prior,...,30.0,1,0,both,both,Mid-range product,Regularly busy,Least busy,Most orders,12
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,369558,1052,prior,...,19.0,1,0,both,both,Mid-range product,Regularly busy,Busiest days,Average orders,20
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,589712,1052,prior,...,15.0,2,1,both,both,Mid-range product,Regularly busy,Busiest days,Most orders,20
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,22082,1798115,1379,prior,...,NaN,1,0,both,both,Mid-range product,Regularly busy,Regularly busy,Most orders,10
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,23713,497193,1480,prior,...,7.0,1,0,both,both,Mid-range product,Regularly busy,Least busy,Most orders,43
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,23715,1727826,1480,prior,...,7.0,3,1,both,both,Mid-range product,Least busy,Least busy,Most orders,43
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,23716,2694698,1480,prior,...,12.0,4,1,both,both,Mid-range product,Regularly busy,Regularly busy,Most orders,43
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,23937,3171753,1494,prior,...,2.0,8,0,both,both,Mid-range product,Regularly busy,Least busy,Most orders,13

In [68]:
# Checking function

ords_prods_merge.head(100)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,days_since_prior_order,add_to_cart_order,reordered,_merge,merge_source,price_range_loc,Busiest day,Busiest days,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,3.0,5,0,both,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,20.0,1,1,both,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,6.0,20,0,both,both,Mid-range product,Busiest days,Busiest days,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,NaN,10,0,both,both,Mid-range product,Regularly busy,Least busy,Most orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,9.0,11,1,both,both,Mid-range product,Least busy,Least busy,Average orders,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,1,Chocolate Sandwich Cookies,61,19,5.8,179480,602103,10831,prior,...,23.0,5,0,both,both,Mid-range product,Regularly busy,Least busy,Most orders,10
96,0,1,Chocolate Sandwich Cookies,61,19,5.8,184011,49629,11119,prior,...,30.0,1,0,both,both,Mid-range product,Regularly busy,Busiest days,Most orders,23
97,0,1,Chocolate Sandwich Cookies,61,19,5.8,185002,317888,11186,prior,...,2.0,8,0,both,both,Mid-range product,Regularly busy,Regularly busy,Most orders,26
98,0,1,Chocolate Sandwich Cookies,61,19,5.8,186194,682486,11243,prior,...,0.0,2,0,both,both,Mid-range product,Regularly busy,Least busy,Most orders,43
99,0,1,Chocolate Sandwich Cookies,61,19,5.8,189258,2861386,11448,prior,...,3.0,6,0,both,both,Mid-range product,Regularly busy,Regularly busy,Most orders,21

In [70]:
# No limit to rows seen

pd.options.display.max_rows = None

In [ ]:
# Checking function

ords_prods_merge.head(100)

In [95]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 24 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0_x            int64
 1   product_id              int64
 2   product_name            object
 3   aisle_id                int64
 4   department_id           int64
 5   prices                  float64
 6   Unnamed: 0_y            int64
 7   order_id                int64
 8   user_id                 int64
 9   eval_set                object
 10  order_number            int64
 11  order_dow               int64
 12  order_hour_of_day       int64
 13  days_since_prior_order  float64
 14  add_to_cart_order       int64
 15  reordered               int64
 16  _merge                  category
 17  merge_source            category
 18  price_range_loc         object
 19  Busiest day             object
 20  Busiest days            object
 21  busiest_period_of_day   object
 22  max_order               int64
 23  loyalty_flag            object
dtypes: category(2), float64(2), int64(13), object(7)
memory usage: 5.4+ GB

## Deriving Columns with Loc()

In [79]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [81]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [83]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [87]:
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [91]:
# Checking just important columns = df['column']

ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             1
4       764      New customer             3
5       777  Regular customer            16
6       825      New customer             3
7       910  Regular customer            12
8      1052  Regular customer            10
9      1052  Regular customer            15
10     1379      New customer             1
11     1480    Loyal customer            36
12     1480    Loyal customer            38
13     1480    Loyal customer            39
14     1494  Regular customer             6
15     1494  Regular customer             7
16     1494  Regular customer             9
17     1540  Regular customer             4
18     1540  Regular customer             5
19     1540  Regular customer             6
20     1540  Regular customer             7
21     1540  Regular customer             8
22     1540  Regular customer             9
23     1540  Regular customer            14
24     1540  Regular customer            15
25     1540  Regular customer            18
26     1540  Regular customer            19
27     1540  Regular customer            20
28     1540  Regular customer            21
29     1540  Regular customer            22
30     1540  Regular customer            24
31     1540  Regular customer            25
32     1540  Regular customer            27
33     1540  Regular customer            28
34     1598      New customer             1
35     1598      New customer             2
36     1598      New customer             3
37     1647      New customer             1
38     1647      New customer             4
39     1647      New customer             6
40     1647      New customer             8
41     1647      New customer             9
42     2833      New customer             1
43     2850  Regular customer             7
44     2857  Regular customer            24
45     3010  Regular customer             5
46     3029      New customer             1
47     3395      New customer             4
48     3904      New customer             1
49     4006    Loyal customer             2
50     4006    Loyal customer             3
51     4006    Loyal customer             5
52     4006    Loyal customer             9
53     4006    Loyal customer            12
54     4122  Regular customer            11
55     4141      New customer             2
56     4343      New customer             1
57     4553      New customer             3
58     4845  Regular customer             6
59     6866      New customer             1